*{
    padding: auto;
    margin: auto;
    box-sizing: border-box;
}
nav{
width: 100%;
height: 5%;
background-color:#537188;
display: flex;
justify-content: center;
text-decoration: none;


}
.cat {
    text-decoration: none;
    padding: 20px 0px;
    width: 20%;
    height: 50px; 

    text-align: center;
    background-color: yellow;
}